options:
  docker: true

image: comunas/deploy-react:10

pipelines:
  branches:
    master:
      - step:
          name: Build docker image and deploy to test
          deployment: test
          caches:
          - docker
          script:
            # aws login
            - eval $(aws ecr get-login --region ${AWS_DEFAULT_REGION} --no-include-email | sed 's|https://||')
            # docker
            - export BUILD_ID="${BITBUCKET_BRANCH}_${BITBUCKET_BUILD_NUMBER}_${BITBUCKET_COMMIT}"
            - docker build -f docker/prod.Dockerfile -t comunas-ui .
            - docker tag comunas-ui ${AWS_ECR_REGISTRY_URL}:${BUILD_ID}
            - docker push ${AWS_ECR_REGISTRY_URL}:${BUILD_ID}
            # Update task definition & service
            - /usr/src/comunas/scripts/deploy-ecs.sh -b comunas -s ui -e test -i ${AWS_ECR_REGISTRY_URL} -v ${BUILD_ID}
      - step:
          name: Deploy to staging
          deployment: staging
          trigger: manual
          script:
            # aws login
            - eval $(aws ecr get-login --region ${AWS_DEFAULT_REGION} --no-include-email | sed 's|https://||')
            # docker - do not build and push image again but use existing
            - export BUILD_ID="${BITBUCKET_BRANCH}_${BITBUCKET_BUILD_NUMBER}_${BITBUCKET_COMMIT}"
            # Update task definition & service
            - /usr/src/comunas/scripts/deploy-ecs.sh -b comunas -s ui -e staging -i ${AWS_ECR_REGISTRY_URL} -v ${BUILD_ID}