
## Symlinks
docs/dfp-app-server

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

target/
*.log

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Misc ###
.apt_generated
.factorypath
.classpath

# UI

# dependencies
**/node_modules
**/build
**/dist
**/tsconfig.tsbuildinfo
**/tsconfig.node.tsbuildinfo

# generated css
/src/assets/*.css
/src/assets/*.css.map

# testing
/coverage

# production
/build

# misc
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
