/* Override browser autofill background color (not controllable via Ant Design theme) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
.ant-input-affix-wrapper > input.ant-input:-webkit-autofill,
.ant-input-affix-wrapper > input.ant-input:-webkit-autofill:hover,
.ant-input-affix-wrapper > input.ant-input:-webkit-autofill:focus,
.ant-input-affix-wrapper > input.ant-input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
	box-shadow: 0 0 0 1000px white inset !important;
	-webkit-text-fill-color: inherit !important;
}

/* Sidebar menu slide animations for app switching */
@keyframes slideInFromRight {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInFromLeft {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

/* Compact table styling for aggregate lists */
.ant-table-thead > tr > th {
	padding: 6px 16px !important;
	background: #f5f5f5 !important;
}

.ant-table-tbody > tr > td {
	padding: 6px 16px !important;
}

/* Ensure table container uses full height for scrolling */
.items-page-table-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.items-page-table-wrapper .ant-table-thead {
	position: sticky;
	top: 0;
	z-index: 10;
	background: #f5f5f5;
}

/* Reduce form label font size by 1pt */
.ant-form-item .ant-form-item-label > label {
	font-size: calc(1em - 1px);
}

/* Reduce vertical distance between label and form component content */
.ant-form-item-vertical .ant-form-item-label,
.ant-form-item-vertical .ant-col-24.ant-form-item-label,
.ant-form-item-vertical .ant-col-x1-24.ant-form-item-label {
	padding-bottom: 0px !important;
}

/* Ensure InputNumber input respects text-align classes */
.af-number-align-left .ant-input-number-input {
	text-align: left;
}
.af-number-align-center .ant-input-number-input {
	text-align: center;
}
.af-number-align-right .ant-input-number-input {
	text-align: right;
}
