
.fm-rating-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
 }

.fa-form-element_readonly_plain {
	border-bottom: 0;
}

div.fm-rating-body div.slds-form-element__row:hover {
	background-color: #f3f2f2;
}

div.fm-rating-body div.selected div.slds-form-element__row  {
	background-color: #d8e6fe;
}

#d {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 160px;
}

#h {
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 160px;
}

#h1 {
	position: absolute;
	left: 14px;
	top: 26px;
	width: 70px;
	height: 20px;
}

#h4 {
	position: absolute;
	left: 14px;
	top: 116px;
	width: 70px;
	height: 20px;
}

#h5 {
	position: absolute;
	left: 14px;
	top: 138px;
	width: 70px;
	height: 20px;
}

#d1 {
	position: absolute;
	left: 80px;
	top: 4px;
	width: calc((100% - 80px - 24px) * 65 / 80);
	height: 74px;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	opacity: 100%;
}

#d11 {
	position: absolute;
	top: -10px;
	left: 10px;
	right: 10px;
	height: 20px;
}

#d12 {
	position: absolute;
	top: 38px;
	left: 0;
	width: calc(100% * 30 / 65);
	height: 36px;
	border-right: 1px solid #808080;
}

#d13 {
	position: absolute;
	top: 38px;
	left: calc(100% * 30 / 65);
	width: calc(100% * 20 / 65);
	height: 36px;
	border-right: 1px solid #808080;
}

#d14 {
	position: absolute;
	top: 38px;
	left: calc(100% * 50 / 65);
	width: calc(100% * 15 / 65);
	height: 36px;
}

#d2 {
	position: absolute;
	left: calc(80px + (100% - 80px - 24px) * 65 / 80);
	top: 4px;
	width: calc((100% - 80px - 24px) * 15 / 80);
	height: 74px;
	border-right: 1px solid #808080;
	opacity: 100%;
}

#d21 {
	position: absolute;
	top: -10px;
	left: 10px;
	right: 10px;
	height: 20px;
}

#d22 {
	position: absolute;
	top: 38px;
	left: 0;
	width: calc(100% * 10 / 15);
	height: 36px;
	border-right: 1px solid #808080;
}

#d22t {
	position: absolute;
	top: calc(36px - (18px / 2));
	left: 50%;
	text-align: left;
	transform: rotate(-90deg);
	transform-origin: left center;
}

#d22t span {
	margin-left: 2px;
}

#d23 {
	position: absolute;
	top: 38px;
	left: calc(100% * 10 / 15);
	width: calc(100% * 5 / 15);
	height: 36px;
}

#d23t {
	position: absolute;
	top: calc(36px - (18px / 2));
	left: 50%;
	text-align: left;
	transform: rotate(-90deg);
	transform-origin: left center;
}

#d23t span {
	margin-left: 2px;
}

#d3 {
	position: absolute;
	left: 80px;
	top: 88px;
	width: calc((100% - 80px - 24px));
	height: 14px;
}

#d31 {
	position: absolute;
	left: 0;
	width: calc(100% * 30 / 80);
	top: 0px;
	bottom: 0px;
	background-color: #e54f29;
	border: 1px solid darken(#e54f29, 10);
}

#d32 {
	position: absolute;
	left: calc(100% * 30 / 80);
	width: calc(100% * 20 / 80);
	top: 0px;
	bottom: 0px;
	background-color: #faa724;
	border: 1px solid darken(#faa724, 10);
}

#d33 {
	position: absolute;
	left: calc(100% * 50 / 80);
	width: calc(100% * 15 / 80);
	top: 0px;
	bottom: 0px;
	background-color: #78c06b;
	border: 1px solid darken(#78c06b, 10);
}

#d34 {
	position: absolute;
	left: calc(100% * 65 / 80);
	width: calc(100% * 15 / 80);
	top: 0px;
	bottom: 0px;
	background-color: #338721;
	border: 1px solid darken(#338721, 10);
}

#d4 {
	position: absolute;
	left: 80px;
	top: 116px;
	width: calc((100% - 80px - 24px));
	height: 14px;
}

#d5 {
	position: absolute;
	left: 80px;
	top: 138px;
	width: calc((100% - 80px - 24px));
	height: 14px;
}

#t20 {
	position: absolute;
	left: calc((100% * 0 / 80) - 20px);
	width: 40px;
}

#t50 {
	position: absolute;
	left: calc((100% * 30 / 80) - 20px);
	width: 40px;
}

#t70 {
	position: absolute;
	left: calc((100% * 50 / 80) - 20px);
	width: 40px;
}

#t85 {
	position: absolute;
	left: calc((100% * 65 / 80) - 20px);
	width: 40px;
}

#t95 {
	position: absolute;
	left: calc((100% * 75 / 80) - 20px);
	width: 40px;
}

#t100 {
	position: absolute;
	left: calc((100% * 80 / 80) - 20px);
	width: 40px;
}

#zn {
	display: none;
	position: absolute;
	left: calc((100% * 30 / 80) - 5px);
	width: 10px;
	top: -7px;
	height: 28px;
	background-color: #0176d3;
	border: 1px solid darken(#0176d3, 10);
	border-radius: 3px;
}

#zn.zn-20 {
	display: block;
	left: calc((100% * (20 - 20) / 80) - 5px);
}

#zn.zn-25 {
	display: block;
	left: calc((100% * (25 - 20) / 80) - 5px);
}

#zn.zn-30 {
	display: block;
	left: calc((100% * (30 - 20) / 80) - 5px);
}

#zn.zn-35 {
	display: block;
	left: calc((100% * (35 - 20) / 80) - 5px);
}

#zn.zn-40 {
	display: block;
	left: calc((100% * (40 - 20) / 80) - 5px);
}

#zn.zn-45 {
	display: block;
	left: calc((100% * (45 - 20) / 80) - 5px);
}

#zn.zn-50 {
	display: block;
	left: calc((100% * (50 - 20) / 80) - 5px);
}

#zn.zn-55 {
	display: block;
	left: calc((100% * (55 - 20) / 80) - 5px);
}

#zn.zn-60 {
	display: block;
	left: calc((100% * (60 - 20) / 80) - 5px);
}

#zn.zn-65 {
	display: block;
	left: calc((100% * (65 - 20) / 80) - 5px);
}

#zn.zn-70 {
	display: block;
	left: calc((100% * (70 - 20) / 80) - 5px);
}

#zn.zn-75 {
	display: block;
	left: calc((100% * (75 - 20) / 80) - 5px);
}

#zn.zn-80 {
	display: block;
	left: calc((100% * (80 - 20) / 80) - 5px);
}

#zn.zn-85 {
	display: block;
	left: calc((100% * (85 - 20) / 80) - 5px);
}

#zn.zn-90 {
	display: block;
	left: calc((100% * (90 - 20) / 80) - 5px);
}

#zn.zn-95 {
	display: block;
	left: calc((100% * (95 - 20) / 80) - 5px);
}

#zn.zn-100 {
	display: block;
	left: calc((100% * (100 - 20) / 80) - 5px);
}
